@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

body {
    background-color: #F2F4F6;
}
* {
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

pre {
    font-family: monospace;
}

pre * {
    font-family: monospace;
}

#wallpaper-schema{
    /* background-image: url("./images/graphql_wallpaper.png"); */
    background-repeat: no-repeat; 
    background-size: 100% 100%; 
}

/* .wallpaper-code{
    position: absolute; 
    width: calc(100vw - 250px);
    height: calc(100vh - 98px); 
    background-image: url("./images/graphql_wallpaper.png");
    background-repeat: no-repeat; 
    background-size: 100% 100%; 
} */

.flexRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

#app{
    width: 100%;
    height: 100vh; 
}

.fade {
    opacity: 0;
}

.fade-enter {
    z-index: 1;
    opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 350ms linear 350ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 350ms linear;
}

.fade-exit-done {
    opacity: 0;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 350ms linear;
}

.slideInRight {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: slideInRight both;
}

@-webkit-keyframes slideInRight {
    from {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes slideInRight {
    from {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
  }

.fadeScale-enter {
    z-index: 1;
    transform: scale(0.75);
    opacity: 0;
}

.fadeScale-enter.fadeScale-enter-active {
    opacity: 1;
    transition: opacity 300ms linear;
}

.fadeScale-exit {
    opacity: 1;
    transform: scale(1);
}

.fadeScale-exit.fadeScale-exit-active {
    opacity: 0;
    transform: scale(0.75);
    transition: opacity 300ms linear;
}

.fadeScale-exit-done {
    opacity: 0;
}

.fadeScale-appear.fadeScale-appear-active {
    opacity: 1;
    transition: opacity 350ms linear;
}

footer {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}

footer ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

footer ul li {
    margin-right: 1rem;
}

footer ul li small {
    text-decoration: none!important;
    font-size: 1em;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: #F2F4F6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    /* transition: all 1s linear; */
}

#loader.hide {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 1s linear;
}

.loading-graphic,
.loading-text {
    text-align: center;
}

.loading-text {
    font-style: italic;
}

.loading-graphic svg {
    width: 45%;
    height: 45%;
}

.loading-text {
    margin-top: 1rem;
    animation-fill-mode: both;
    animation-direction: alternate;
    animation-name: colorfill;
    animation-iteration-count: infinite;
    animation-duration: 1.5s, 2s, 2.75s;
    animation-delay: 0s, 0.75s, 1.25s;
}

.loading-graphic path {
    stroke-dashoffset: 0;
    stroke-dasharray: 0, 0, 0, 390;
    fill-opacity: 0;
    stroke-opacity: 1;
    animation-timing-function: ease-in-out; 
    animation-fill-mode: both;
    animation-direction: alternate;
    animation-name: dash;
    animation-iteration-count: infinite;
    
    /* HALF-TIME */
    /* animation-duration: 1.5s, 2s, 2.75s;
    animation-delay: 0s, 0.75s, 1.25s; */
    
    /* TIME  */
    animation-duration: 3s, 4s, 2s;
    animation-delay: 0s, 1s, 1s;
  }
  
  @keyframes dash {
    to {
      stroke-dashoffset: 390;
      stroke-dasharray: 0, 0, 390, 0;
    }
  }
  
  @keyframes strokefade {
    to {
      stroke-opacity: 0;
    }
  }
  
  @keyframes colorfill {
    from {
      opacity: 0;
    }
    to {
      opacity: 100;
    }
  }