.schema-app-container{
  display: flex; 
  flex-direction: row-reverse;
  width: 100%;
  min-height: 450px;
  height: calc(100vh - 98px);
  position: relative;
}

#sidebar-container {
  position: relative;
  background-color:  rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 250px; 
  justify-content: flex-start;
  flex-shrink: 0; 
}

.table {
  display: flex; 
  flex-direction: column; 
  width: 250px; 
  margin: 40px; 
  box-shadow: 3px 3px 12.5px black;
  background-color: rgb(54, 58, 66, 1);
}

.tableButton {
  width: 100%;
  height: 100%;
}

.type {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.field{
  display: flex; 
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 5px 0;
}

.fieldContainer1 {
  position: relative;
  display: flex;
  width: 96%;
  left: 5px;
}

.table .fieldContainer1 .delete-button {
  opacity: 0;
}

.table .fieldContainer1:hover .delete-button {
  opacity: 1;
}

.fieldContainer2 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96%;
}

.fieldButton {
  width: 240px;
  display: flex; 
  justify-content: flex-start;
  align-items: center;
  margin-left: 5px;
}

.fieldButton small {
  margin: 0 1rem;
  font-style: italic;
}

.delete-button {
  position: absolute;
  right: 5px;
}

.table-components-container{
  display: grid; 
  background-color: #FBFCFD;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: min-content;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  margin: 32px;
  width: 100%;
  position: relative;
  height: auto; 
  overflow-y: auto;
  overflow-x: hidden;
}

@media only screen and (max-width: 1400px) {
  .table-components-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1000px) {
  .table-components-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .table-components-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.addField {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 40px;
  background-color: rgb(48, 48, 48);
  color: white;
  cursor: pointer;
  position: relative;
  width: 96%;
  left: 5px;
  margin: 5px 0;
}

.fieldBreak {
  width: 100%;
  height: 1px;
  border: none;
  margin: 0;
  background-color: rgba(200, 200, 200, 0.6);
}
